/* fonts */
@font-face {
    font-family: 'Nunito';
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../fonts/nunito/regular/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/nunito/regular/Nunito-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
    url('../fonts/nunito/extra-bold/Nunito-ExtraBold.woff2') format('woff2'),
    url('../fonts/nunito/extra-bold/Nunito-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

/* glob */
body {
    font-family: 'Nunito', sans-serif;
    color: #071D26;
    min-width: 320px;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

::placeholder {
    color: #6A777D;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #6A777D;
}

::-ms-input-placeholder {
    color: #6A777D;
}

.logo {
    display: flex;
    width: max-content;
}

.logo__picture {
    display: flex;
}

.btn {
    display: block;
    padding: 14.5px 33.5px;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #F04A25;
    text-align: center;
    border: 1px solid #F04A25;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color .2s ease, color .2s ease;
}

.page-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
}

.section-descr {
    font-size: 18px;
    line-height: 160%;
    color: #6A777D;
    margin-bottom: 40px;
}

.section-descr_center {
    text-align: center;
}

.btn-main {
    background-color: #F04A25;
    border: 1px solid #F04A25;
    border-radius: 10px;
    padding: 22.5px 49.5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    text-align: center;
    transition: background-color .2s ease, color .2s ease;
}

.btn-main_color {
    background-color: #1C7597;
    border: 1px solid #1C7597;
}

.section-offset {
    margin-bottom: 150px;
}

.section-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 160%;
    text-align: center;
    position: relative;
    padding: 0 110px;
    margin: 0 auto 24px;
    width: fit-content;
}

.section-title::before,
.section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #F04A25;
    border-radius: 10px;
}

.section-title::before {
    left: 0;
}

.section-title::after {
    right: 0;
}

.section-title_color {
    color: #fff;
    padding: 0;
}

.section-title_color::before,
.section-title_color::after {
    display: none;
}

.section-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.section-decor-item {
    width: 8px;
    height: 8px;
    margin-right: 20px;
    background-color: #1C7597;
    border-radius: 50%;
}

.section-decor-item:last-child {
    margin-right: 0;
}

.more-link {
    width: fit-content;
    margin: 0 auto;
    padding: 14.5px 20px;
    min-width: 292px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    flex: 0 1 calc(33.333% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.col-33:nth-child(3n) {
    margin-right: 0;
}

.col-33:last-child {
    margin-right: 0;
}

.accor-full {
    transition: max-height .2s ease;
    max-height: 0;
    overflow: hidden;
}

.accor-open-decor {
    position: relative;
    width: 44px;
    height: 44px;
}

.accor-open-decor::before,
.accor-open-decor::after {
    content: '';
    background-color: #F04A25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accor-open-decor::before {
    width: 26px;
    height: 3px;
}

.accor-open-decor::after {
    width: 3px;
    height: 26px;
    transition: opacity .2s ease;
}

.accor.active .accor-open-decor::after {
    opacity: 0;
}

.form-callback__wrapper {
    display: flex;
    margin-bottom: 40px;
}

.form-callback__label {
    display: flex;
    margin-right: 25px;
    flex: 0 1 50%;
}

.form-callback__label:last-child {
    margin-right: 0;
}

.form-callback__input {
    background-color: #4991AC;
    border-radius: 10px;
    padding: 17px 20px 17px 60px;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.form-callback__input.name {
    background-image: url("../img/sections/consultation/person.svg");
}

.form-callback__input.phone {
    background-image: url("../img/sections/consultation/phone.svg");
}

.form-callback__input::placeholder {
    color: rgba(255, 255, 255, .6);
    opacity: 1;
}

.form-callback__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.form-callback__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.form-callback__submit {
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #F04A25;
    padding: 16px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: background-color .2s ease, color .2s ease;
}

.form-callback__text {
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, .6);
}

.form-callback__text-link {
    text-decoration: underline;
    color: rgba(255, 255, 255, .6);
}

.more-text-btn {
    display: none;
}

.more-text-wrapper {
    transition: height .2s ease;
    overflow: hidden;
}

.slider-pagination {
    display: none;
}

.breadcrumbs {
    padding-top: 30px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    margin-right: 5px;
    margin-bottom: 5px;
    padding-right: 23px;
    background-image: url("/assets/img/breadcrumbs-separator.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: right center;
}

.breadcrumbs__item:last-child {
    margin-right: 0;
}

.breadcrumbs__link {
    display: flex;
}

.breadcrumbs__link-text {
    font-size: 14px;
    line-height: 160%;
    color: #6A777D;
}

.document {
    position: relative;
}

.document::after {
    content: '';
    background-color: rgba(7, 29, 38, .6);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/zoom-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.document__img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.specialist {
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
}

.specialist__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.specialist__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
}

.specialist__info {
    padding: 30px;
    background-color: #1C7597;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.specialist__decor {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.specialist__name {
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 10px;
}

.specialist__role {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
}

.specialist__content {
    position: relative;
    z-index: 10;
}

@media (min-width: 1025px) {
    .btn:hover {
        background-color: #F04A25;
        color: #fff;
    }

    .btn-main:hover {
        background-color: transparent;
        color: #F04A25;
    }

    .btn-main_color:hover {
        color: #1C7597;
    }

    .form-callback__submit:hover {
        background-color: #F04A25;
        color: #fff;
    }

    .document:hover::after {
        opacity: 1;
    }

    .specialist:hover .specialist__info {
        background-color: #165E79;
    }

    .specialist:hover .specialist__decor {
        opacity: 0;
    }
}

@media (max-width: 1400px) {
    .btn-main {
        padding: 14px 20px;
    }

    .col-33 {
        flex: 0 1 calc(33.333% - 7px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .col-33:nth-child(3n) {
        margin-right: 0;
    }

    .col-33:last-child {
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    .logo__img {
        width: 220px;
    }

    .btn {
        font-size: 14px;
        line-height: 140%;
    }

    .page-title {
        font-size: 40px;
        line-height: 140%;
    }
}

@media (max-width: 1024px) {
    .section-decor {
        display: none;
    }

    .slider-pagination {
        display: flex;
        justify-content: center;
    }

    .slider-pagination .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        padding: 0;
        margin: 0 10px 0 0!important;
        opacity: 1;
        background-color: #FBC9BE;
    }

    .slider-pagination .swiper-pagination-bullet:last-child {
        margin-right: 0!important;
    }

    .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #F04A25;
    }
}

@media (max-width: 991px) {
    .main {
        padding-top: 60px;
    }

    .logo__img {
        width: initial;
    }

    .page-title {
        font-size: 26px;
    }

    .section-descr {
        font-size: 14px;
        line-height: 140%;
    }

    .btn-main {
        font-size: 14px;
        line-height: 140%;
    }

    .section-offset {
        margin-bottom: 70px;
    }

    .section-title {
        font-size: 22px;
        line-height: 140%;
        text-align: left;
        padding: 0;
        margin: 0 0 50px;
    }

    .section-title::before {
        display: none;
    }

    .section-title::after {
        top: auto;
        right: auto;
        left: 0;
        bottom: -25px;
        transform: translateY(-50%);
        height: 1px;
    }

    .section-descr {
        text-align: left;
        margin-bottom: 30px;
    }

    .form-callback__wrapper {
        margin-bottom: 20px;
    }

    .form-callback__label {
        margin-right: 16px;
    }

    .accor-open-decor {
        width: 24px;
        height: 24px;
    }

    .accor-open-decor::before {
        width: 14px;
        height: 2px;
    }

    .accor-open-decor::after {
        width: 2px;
        height: 14px;
    }

    .breadcrumbs {
        padding-top: 20px;
    }

    .breadcrumbs__item {
        background-size: 15px 15px;
        padding-right: 18px;
    }

    .breadcrumbs__item:first-child .breadcrumbs__link {
        width: 15px;
        height: 15px;
        background-image: url("/assets/img/breadcrumbs-home.svg");
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .breadcrumbs__item:first-child .breadcrumbs__link .breadcrumbs__link-text {
        display: none;
    }

    .breadcrumbs__link-text {
        font-size: 11px;
        line-height: 140%;
    }

    .specialist__name {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 5px;
    }

    .specialist__role {
        font-size: 12px;
        line-height: 140%;
    }

    .specialist__info {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .col-33 {
        flex: 0 1 calc(50% - 5px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .col-33:nth-child(3n) {
        margin-right: 10px;
    }

    .col-33:nth-child(2n) {
        margin-right: 0;
    }

    .col-33:last-child {
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .more-text-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: #F3F4F4;
        border-radius: 10px;
        width: 100%;
        font-weight: 800;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #6A777D;
    }

    .form-callback__wrapper {
        display: block;
    }

    .form-callback__label {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form-callback__input {
        font-size: 14px;
        line-height: 140%;
        padding: 15px 15px 15px 50px;
        background-position: 15px center;
        background-size: 20px 20px;
        min-height: 50px;
    }

    .form-callback__submit {
        font-size: 14px;
        line-height: 140%;
        padding: 15px;
        min-height: 50px;
        margin-bottom: 15px;
    }

    .form-callback__text {
        font-size: 13px;
        line-height: 140%;
    }

    .more-link {
        width: 100%!important;
    }

    .col-33 {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .col-33:nth-child(3n) {
        margin-right: 0;
    }

    .specialist__img {
        max-height: 260px;
    }
}