/* fonts */
@font-face {
    font-family: 'Nunito';
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('/assets/fonts/nunito/regular/Nunito-Regular.woff2') format('woff2'),
    url('/assets/fonts/nunito/regular/Nunito-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
    url('/assets/fonts/nunito/extra-bold/Nunito-ExtraBold.woff2') format('woff2'),
    url('/assets/fonts/nunito/extra-bold/Nunito-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

/* glob */
body {
    font-family: 'Nunito', sans-serif;
    color: #071D26;
    min-width: 320px;
}

.container {
    max-width: 1450px;
    padding: 0 20px;
    margin: 0 auto;
}

::placeholder {
    color: #6A777D;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #6A777D;
}

::-ms-input-placeholder {
    color: #6A777D;
}

.logo {
    display: flex;
    width: max-content;
}

.logo__picture {
    display: flex;
}

.btn {
    display: block;
    padding: 14.5px 33.5px;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #F04A25;
    text-align: center;
    border: 1px solid #F04A25;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color .2s ease, color .2s ease;
}

.page-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
}

.section-descr {
    font-size: 18px;
    line-height: 160%;
    color: #6A777D;
    margin-bottom: 40px;
}

.section-descr_center {
    text-align: center;
}

.btn-main {
    background-color: #F04A25;
    border: 1px solid #F04A25;
    border-radius: 10px;
    padding: 22.5px 49.5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    text-align: center;
    transition: background-color .2s ease, color .2s ease;
}

.btn-main_color {
    background-color: #1C7597;
    border: 1px solid #1C7597;
}

.section-offset {
    margin-bottom: 150px;
}

.section-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 160%;
    text-align: center;
    position: relative;
    padding: 0 110px;
    margin: 0 auto 24px;
    width: fit-content;
}

.section-title::before,
.section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #F04A25;
    border-radius: 10px;
}

.section-title::before {
    left: 0;
}

.section-title::after {
    right: 0;
}

.section-title_color {
    color: #fff;
    padding: 0;
}

.section-title_color::before,
.section-title_color::after {
    display: none;
}

.section-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.section-decor-item {
    width: 8px;
    height: 8px;
    margin-right: 20px;
    background-color: #1C7597;
    border-radius: 50%;
}

.section-decor-item:last-child {
    margin-right: 0;
}

.more-link {
    width: fit-content;
    margin: 0 auto;
    padding: 14.5px 32px;
    min-width: 292px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-33 {
    flex: 0 1 33.333%;
    padding: 0 15px;
}

.accor-full {
    transition: height .2s ease;
    height: 0;
    overflow: hidden;
}

.accor-open-decor {
    position: relative;
    width: 44px;
    height: 44px;
}

.accor-open-decor::before,
.accor-open-decor::after {
    content: '';
    background-color: #F04A25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accor-open-decor::before {
    width: 26px;
    height: 3px;
}

.accor-open-decor::after {
    width: 3px;
    height: 26px;
    transition: opacity .2s ease;
}

.accor.active .accor-open-decor::after {
    opacity: 0;
}

.form-callback__wrapper {
    display: flex;
    margin-bottom: 40px;
}

.form-callback__label {
    display: flex;
    margin-right: 25px;
    flex: 0 1 50%;
}

.form-callback__label:last-child {
    margin-right: 0;
}

.form-callback__input {
    background-color: #4991AC;
    border-radius: 10px;
    padding: 17px 20px 17px 60px;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 20px center;
}

.form-callback__input.name {
    background-image: url("/assets/img/sections/consultation/person.svg");
}

.form-callback__input.phone {
    background-image: url("/assets/img/sections/consultation/phone.svg");
}

.form-callback__input::placeholder {
    color: rgba(255, 255, 255, .6);
    opacity: 1;
}

.form-callback__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.form-callback__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, .6);
}

.form-callback__submit {
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #F04A25;
    padding: 16px 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: background-color .2s ease, color .2s ease;
}

.form-callback__text {
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, .6);
}

@media (min-width: 1025px) {
    .btn:hover {
        background-color: #F04A25;
        color: #fff;
    }

    .btn-main:hover {
        background-color: transparent;
        color: #F04A25;
    }

    .btn-main_color:hover {
        color: #1C7597;
    }

    .form-callback__submit:hover {
        background-color: #F04A25;
        color: #fff;
    }
}
