.about__title {
    margin-bottom: 84px;
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.about__descr {
    margin-bottom: 30px;
}

.about__descr:last-child {
    margin-bottom: 0;
}

.about__picture {
    min-width: 550px;
    max-width: 550px;
    display: flex;
    justify-content: flex-end;
}

.about__img {
    object-fit: cover;
    object-position: right;
}

.about__content {
    margin-right: 70px;
}

@media (max-width: 1200px) {
    .about__content {
        margin-right: 24px;
    }

    .about__picture {
        min-width: 400px;
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    .about__title {
        margin-bottom: 56px;
    }

    .about__picture {
        min-width: 300px;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .about__title {
        margin-bottom: 56px;
    }

    .about__title::after {
        bottom: -28px;
    }

    .about__picture {
        min-width: 300px;
        max-width: 300px;
    }

    .about__wrapper {
        display: flex;
        flex-direction: column;
    }

    .about__picture {
        order: 1;
        margin-bottom: 30px;
    }

    .about__title {
        order: 2;
    }

    .about__content {
        order: 3;
        margin-right: 0;
    }

    .about__descr {
        margin-bottom: 24px;
    }
}

@media (max-width: 575px) {
    .about__picture {
        min-width: 0;
    }

    .about__content-wrapper {
        height: 140px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}