.advantages-section {
    background-image: url("/assets/img/sections/advantages-section/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0 70px;
}

.advantages-section__title {
    margin-bottom: 110px;
    text-align: center;
}

.advantages-section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 40px;
}

.advantages-section__item {
    flex: 0 1 calc(25% - 52.5px);
    margin-right: 70px;
    margin-bottom: 80px;
}

.advantages-section__item:nth-child(4n) {
    margin-right: 0;
}

.advantages-section__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-section__item-img {
    margin-bottom: 30px;
}

.advantages-section__item-text {
    font-size: 18px;
    line-height: 160%;
    color: #fff;
    text-align: center;
}

@media (max-width: 1200px) {
    .advantages-section__list {
        padding: 0 13px;
    }

    .advantages-section__item {
        flex: 0 1 calc(33.333% - 20px);
        margin-right: 25px;
        margin-bottom: 40px;
    }

    .advantages-section__item:nth-child(3n) {
        margin-right: 0;
    }

    .advantages-section__item:nth-child(4n) {
        margin-right: 25px;
    }

    .advantages-section {
        padding: 150px 0 110px;
    }
}

@media (max-width: 991px) {
    .advantages-section {
        padding: 70px 0 35px;
    }

    .advantages-section__title {
        margin: 0 auto 50px;
    }

    .advantages-section__item-img {
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }

    .advantages-section__item-text {
        font-size: 14px;
        line-height: 140%;
    }
}

@media (max-width: 575px) {
    .advantages-section__item {
        flex: 0 1 calc(50% - 13px);
    }

    .advantages-section__item:nth-child(3n) {
        margin-right: 25px;
    }

    .advantages-section__item:nth-child(2n) {
        margin-right: 0;
    }
}