.advantages {
    padding: 80px 0;
}

.advantages__list {
    display: flex;
    padding: 0 31px;
}

.advantage {
    flex: 0 1 calc(20% - 31px);
    margin-right: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage:last-child {
    margin-right: 0;
}

.advantage__icon {
    margin-bottom: 30px;
}

.advantage__text {
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}
