.articles-page {
    margin-bottom: 120px;
}

.articles-page__descr {
    margin-bottom: 60px;
}

.articles__wrapper {
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .articles__wrapper {
        margin-bottom: 30px;
    }

    .articles__slider {
        margin-bottom: 25px;
    }
}

@media (max-width: 991px) {
    .articles-page {
        margin-bottom: 60px;
    }

    .articles-page__descr {
        margin-bottom: 30px;
    }
}