.consultation__wrapper {
    border-radius: 10px;
    background-image: url("/assets/img/sections/consultation/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    display: flex;
}

.consultation__picture {
    display: flex;
    min-width: 520px;
    max-width: 520px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 85px;
}

.consultation__img {
    object-fit: cover;
    object-position: top;
}

.consultation__title {
    text-align: initial;
    margin-bottom: 28px;
}

.consultation__descr {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 50px;
}