.consultation__wrapper {
    border-radius: 10px;
    background-image: url("../../img/sections/consultation/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.consultation__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 520px;
    max-width: 520px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 85px;
}

.consultation__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.consultation__title {
    text-align: initial;
    margin-bottom: 28px;
}

.consultation__descr {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 50px;
}

@media (max-width: 1600px) {
    .consultation__picture {
        margin-right: 24px;
    }
}

@media (max-width: 1400px) {
    .consultation__picture {
        min-width: 380px;
        max-width: 380px;
    }

    .consultation__title {
        font-size: 30px;
        line-height: 140%;
    }

    .consultation__wrapper {
        padding: 30px;
    }
}

@media (max-width: 991px) {
    .consultation__wrapper {
        display: block;
        padding: 15px;
    }

    .consultation__picture {
        min-width: 0;
        max-width: none;
        margin-right: 0;
        margin-bottom: 32px;
        max-height: 460px;
    }

    .consultation__title {
        font-size: 22px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .consultation__descr {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .consultation__container {
        padding: 0;
    }
}