.documents__title {
    margin-bottom: 24px;
}

.documents__descr {
    margin-bottom: 40px;
}

.documents__slider {
    margin-bottom: 70px;
}

.documents__more-link {
    width: fit-content;
    margin: 0 auto;
    padding: 14.5px 38.5px;
    min-width: 292px;
}

.documents__slide::after {
    content: '';
    background-color: rgba(7, 29, 38, .6);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.5 68.0832L44.4167 47.9998C42.75 49.4443 40.8067 50.5693 38.5868 51.3748C36.3668 52.1804 34.0046 52.5832 31.5 52.5832C25.491 52.5832 20.4054 50.4998 16.2433 46.3332C12.0811 42.1665 10 37.1387 10 31.2498C10 25.3609 12.0833 20.3332 16.25 16.1665C20.4167 11.9998 25.4583 9.9165 31.375 9.9165C37.2917 9.9165 42.3194 11.9998 46.4583 16.1665C50.5972 20.3332 52.6667 25.3651 52.6667 31.2623C52.6667 33.6429 52.2778 35.9443 51.5 38.1665C50.7222 40.3887 49.5556 42.4721 48 44.4165L68.25 64.4998C68.75 64.9721 68.9861 65.5623 68.9583 66.2707C68.9306 66.979 68.6667 67.5832 68.1667 68.0832C67.6667 68.5832 67.0494 68.8332 66.3148 68.8332C65.5803 68.8332 64.9753 68.5832 64.5 68.0832ZM31.4167 47.5832C35.9306 47.5832 39.7674 45.986 42.9271 42.7915C46.0868 39.5971 47.6667 35.7498 47.6667 31.2498C47.6667 26.7498 46.0868 22.9026 42.9271 19.7082C39.7674 16.5137 35.9306 14.9165 31.4167 14.9165C26.8565 14.9165 22.9803 16.5137 19.7882 19.7082C16.5961 22.9026 15 26.7498 15 31.2498C15 35.7498 16.5961 39.5971 19.7882 42.7915C22.9803 45.986 26.8565 47.5832 31.4167 47.5832ZM31.2917 40.4998C30.5972 40.4998 30.0139 40.2603 29.5417 39.7811C29.0694 39.3019 28.8333 38.7082 28.8333 37.9998V33.6665H24.4167C23.75 33.6665 23.1806 33.4165 22.7083 32.9165C22.2361 32.4165 22 31.8193 22 31.1248C22 30.4304 22.2396 29.8471 22.7188 29.3748C23.1979 28.9026 23.7917 28.6665 24.5 28.6665H28.8333V24.3332C28.8333 23.6665 29.0833 23.0971 29.5833 22.6248C30.0833 22.1526 30.6806 21.9165 31.375 21.9165C32.0694 21.9165 32.6528 22.1561 33.125 22.6353C33.5972 23.1144 33.8333 23.7082 33.8333 24.4165V28.6665H38.1667C38.8333 28.6665 39.4028 28.9165 39.875 29.4165C40.3472 29.9165 40.5833 30.5137 40.5833 31.2082C40.5833 31.9026 40.3438 32.4859 39.8646 32.9582C39.3854 33.4304 38.7917 33.6665 38.0833 33.6665H33.8333V38.0832C33.8333 38.7498 33.5833 39.3193 33.0833 39.7915C32.5833 40.2637 31.9861 40.4998 31.2917 40.4998Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity .2s ease;
}

@media (min-width: 1025px) {
    .documents__slide:hover::after {
        opacity: 1;
    }
}