.documents__wrapper {
    margin-bottom: 70px;
}

.documents__more-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 14.5px 38.5px;
    min-width: 292px;
}

@media (max-width: 1024px) {
    .documents__wrapper {
        margin-bottom: 30px;
    }

    .documents__slider {
        margin-bottom: 25px;
    }
}