.documents__wrapper {
    margin-bottom: 70px;
}

.documents__more-link {
    width: fit-content;
    margin: 0 auto;
    padding: 14.5px 38.5px;
    min-width: 292px;
}

.documents__slide::after {
    content: '';
    background-color: rgba(7, 29, 38, .6);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/zoom-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity .2s ease;
}

.documents__slide-img {
    width: 100%;
    object-fit: cover;
}

@media (min-width: 1025px) {
    .documents__slide:hover::after {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .documents__wrapper {
        margin-bottom: 30px;
    }

    .documents__slider {
        margin-bottom: 25px;
    }
}