.promotions__cards {
    margin-bottom: 40px;
}

.promotions__card {
    min-height: 331px;
}

.promotions__card-wrapper {
    padding: 40px;
    border-radius: 10px;
    background-color: #1C7597;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    height: 100%;
}

.promotions__card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.promotions__card-decor {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.promotions__card-sticker {
    background-color: #4991AC;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.promotions__card-name {
    font-weight: 800;
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 40px;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    word-wrap: break-word;
    width: calc(100% - 80px);
}

.promotions__card-discount {
    background-color: #fff;
    border-radius: 100px;
    padding: 5px 15px;
    font-weight: 800;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #F04A25;
}

.promotions__card-presentation {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 1025px) {
    .promotions__card-wrapper:hover {
        background-color: #165E79;
    }

    .promotions__card-wrapper:hover .promotions__card-decor {
        opacity: 0;
    }
}

@media (max-width: 1600px) {
    .promotions__card-wrapper {
        padding: 20px;
    }

    .promotions__card-name {
        width: calc(100% - 100px);
    }
}

@media (max-width: 1400px) {
    .promotions__cards {
        margin-bottom: 60px;
    }
}

@media (max-width: 1200px) {
    .promotions__card-name {
        width: 100%;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .promotions__card-presentation {
        height: 193px;
    }

    .promotions__card {
        min-height: 193px;
    }

    .promotions__card-sticker {
        font-size: 11px;
        line-height: 140%;
        margin-bottom: 20px;
        padding: 5px 10px;
    }

    .promotions__card-discount {
        font-size: 14px;
        line-height: 140%;
        padding: 6px 12px;
    }
}

@media (max-width: 991px) {
    .promotions__cards {
        margin-bottom: 22px;
    }
}

@media (max-width: 575px) {
    .promotions__card-name {
        max-width: 180px;
    }
}