.promo {
    padding-top: 35px;
    padding-bottom: 100px;
}

.promo_main {
    padding-top: 46px;
    padding-bottom: 0;
}

.promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.promo_main .promo__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.promo__img-wrapper {
    display: block;
    min-width: 530px;
    position: relative;
    margin-right: 90px;
}

.promo__img {
    object-fit: cover;
    object-position: center;
}

.promo__badge {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1C7597;
    border-radius: 100px 100px 0 0;
    padding: 7px 20px;
    width: 100%;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.promo__badge-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    margin-right: 10px;
}

.promo__badge-icon {
    margin-right: 10px;
}

.promo__badge-icon:last-child {
    margin-right: 0;
}

.promo__title {
    margin-bottom: 30px;
}

.promo__descr {
    font-weight: 800;
    font-size: 24px;
    line-height: 160%;
    color: #F04A25;
    margin-bottom: 30px;
}

.promo__sub-descr {
    margin-bottom: 50px;
}

.promo__sub-descr-link {
    font-weight: 800;
    color: #F04A25;
    text-decoration: underline;
    white-space: nowrap;
}

.promo__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.promo__btn {
    margin-right: 20px;
}

.promo__btn:last-child {
    margin-right: 0;
}

.promo__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
}

@media (min-width: 1025px) {
    .promo__badge:hover {
        background-color: #F04A25;
    }
}

@media (max-width: 1400px) {
    .promo__img-wrapper {
        min-width: 460px;
        margin-right: 30px;
    }

    .promo__badge-text {
        font-size: 14px;
        line-height: 140%;
        margin-right: 5px;
    }
}

@media (max-width: 1200px) {
    .promo__btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .promo__btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .promo__btn:last-child {
        margin-bottom: 0;
    }

    .promo__sub-descr {
        margin-bottom: 30px;
    }

    .promo__title {
        margin-bottom: 20px;
    }

    .promo__descr {
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .promo {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .promo_main {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .promo__img-wrapper {
        min-width: 350px;
    }

    .promo__badge-icon {
        margin-right: 0;
    }

    .promo__badge-icon:last-child {
        display: none;
    }

    .promo__badge {
        border-radius: 0;
        padding: 9px 15px;
    }

    .promo__descr {
        font-size: 16px;
        line-height: 140%;
    }
}

@media (max-width: 767px) {
    .promo__img-wrapper {
        margin-bottom: 30px;
    }

    .promo_main .promo__img-wrapper {
        margin-bottom: 0;
    }

    .promo__img-wrapper {
        margin-right: 0;
        min-width: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .promo__container {
        flex-direction: column;
        align-items: initial;
    }

    .promo_main .promo__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
    }

    .promo__content {
        padding: 0 15px;
    }

    .promo_main .promo__content {
        margin-bottom: 30px;
    }

    .promo__badge {
        position: initial;
    }

    .promo__container {
        padding: 0;
    }
}

@media (max-width: 575px) {
    .promo__img {
        max-height: 331px;
    }
}