.promotions__cards {
    margin-bottom: 40px;
}

@media (max-width: 1400px) {
    .promotions__cards {
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) {
    .promotions__cards {
        margin-bottom: 22px;
    }
}