.specialists__wrapper {
    margin-bottom: 70px;
}

.specialists__slide {
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
}

.specialists__slide-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.specialists__slide-img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
}

.specialists__slide-info {
    padding: 30px;
    background-color: #1C7597;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.specialists__slider-decor {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.specialists__slide-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 10px;
}

.specialists__slide-role {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
}

.specialists__slide-content {
    position: relative;
    z-index: 10;
}

@media (min-width: 1025px) {
    .specialists__slide:hover .specialists__slide-info {
        background-color: #165E79;
    }

    .specialists__slide:hover .specialists__slider-decor {
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .specialists__wrapper {
        margin-bottom: 30px;
    }

    .specialists__slider {
        margin-bottom: 25px;
    }
}

@media (max-width: 991px) {
    .specialists__slide-name {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 5px;
    }

    .specialists__slide-role {
        font-size: 12px;
        line-height: 140%;
    }

    .specialists__slide-info {
        padding: 15px;
    }
}

@media (max-width: 575px) {
    .specialists__slide-img {
        max-height: 260px;
    }
}