.specialists__wrapper {
    margin-bottom: 70px;
}

@media (max-width: 1024px) {
    .specialists__wrapper {
        margin-bottom: 30px;
    }

    .specialists__slider {
        margin-bottom: 25px;
    }
}